<%-include('../../partials/header.ejs')%>
<%-include('../../partials/navbar.ejs')%>
<div class="container" >
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edição de Usuário</h2>
            <h3>Usuário selecionado: <%= user.email %></h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/users/update" style="display: inline;"  onsubmit="confirmEdit(event,this)" >
                <input class="form-control" type="text" name="email" placeholder="Digite o novo email: " required value="<%= user.email %>">
                <input type="hidden" name="id" value="<%= user.id %>">
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>    
    </div>
        
</div>
<%- include('../../partials/footer.ejs')%>
<script>
        function confirmEdit(event, form){
        event.preventDefault();
       var decision = confirm("Você realmente deseja editar o email do Usuário? ");
       if(decision){
        form.submit();
       }
    }
</script>